.centerimg {
    text-align: center;
    margin: 0px auto;
}

.python {
    width: 10%;
    height: 10%;
}

.center{
    text-align: center;
}

@media screen and (max-width: 1000px) {
    
    .img {
        width: 100%;
        height: 100%;
    }
    .python {
        margin: 2%;
        width: 20%;
        height: 20%;
    }
} 
