

 #comingsoon {
   text-align: center;
    border: 3px solid white;
    width: 1000px;
    margin: 0px auto;
 }
#comingsoon h1 { 
    font-size: 50px;
 }
#comingsoon body { 
    font: 20px Helvetica, sans-serif; color: #333; 
}
#comingsoon article { 
    display: block; text-align: left; width: 650px; margin: 0 auto;
 }
#comingsoon a {
     color: #9a00b6; text-decoration: none; 
}
#comingsoon a:hover {
     color: #333; text-decoration: none; 
}
 
@media screen and (max-width: 768px) {
   #comingsoon {
      width: 300px;
      font-size: 20px
   }
 }